  <h1 class="py-5"> TODOS LOS RESTAURANTES </h1>
<div class="container mt-4 d-flex justify-content-evenly">
  <% @restaurants.each do |restaurant| %>
    <div class="card mb-3" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Nombre: </strong><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <li class="list-group-item"> <strong>Direccion: </strong><%=restaurant.address %></li>
        <li class="list-group-item"> <strong>Contacto: </strong><%=restaurant.phone_number %></li>
        <li class="list-group-item"> <strong>Categoria: </strong><%=restaurant.category %></li>
        <li class="list-group-item"> <strong>Categoria: </strong><%=restaurant.reviews.count %></li>
        
      </ul>
    </div>    
  <% end %>
</div>
<div class="container">
  <div class="text-center py-3">
    <%= link_to 'Incluir otro restaurant', new_restaurant_path, class: 'btn btn-primary'%>
  </div>
</div>